<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Assignment 2 Suite">
    <test name="Checkout and Cart Tests">
        <classes>
            <class name="tests.SearchAndSortTests"/>
            <class name="tests.CartAndCheckoutTests"/>
        </classes>
    </test>
</suite>
